@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
 /*==================
Universal
==================*/
body, p, button, input, select, optgroup, textarea {
    font-family: 'Rubik', sans-serif;
    line-height: 2.2em;
    color: #333;
}

/* Removal of the underline in link */
a:focus {
    text-decoration: none;
}

/* All headers */
h1,h2,h3,h4,h5,h6 {
    font-family: 'Rubik', sans-serif;
}

/* Header 1 */
h1.entry-title {
    font-size: 2.7em;
    font-weight: normal;
}

/* Header 2 */
h2 {
    text-align: center;
    font-weight: normal;
    border-bottom: 1px solid #3333331f;
    margin-top: 1.3em;
}

/* Button */
.button, button, input[type="button"], input[type="reset"], input[type="submit"] {
    background: #D34E24;
    border: 1px solid #D34E24;
    font-weight: normal;
    border-radius: 0;
}

/* Button Hover */
.button:hover, button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
    border: 1px solid #D34E24;
    background: white;
    color: #D34E24;
}

/*==================
Header
==================*/
/* Header for home page */
header#masthead {
    background: #114B5F;
    background-color: #028090;
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23114b5f'/%3E%3Cstop offset='1' stop-color='%23028090'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23114b5f' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23114b5f' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E"); */
    /* background by SVGBackgrounds.com */
    background-attachment: fixed;
    background-size: cover;
    padding: 0;
    /* 	Removal of padding below menu */
    /* Background colour change */
    height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(-45deg, #114B5F, #028090);
    background-size: 400% 400%;
    animation: gradientBG 5s ease infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* All pages that are not home */
.page-template-default header#masthead {
	height: 30vh;
}



/* Site title */
.site-title a:link, .site-title a:visited {
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 3em;
}

/* Site description */
p.site-description {
    display: block;
    font-style: italic;
    color: white;
    font-size: smaller;
}

/* Menu items colour */
ul#menu-main-menu a {
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
}

/* Force the header title into the middle */
.site-branding-container {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

/* Site navigation buttons */
nav#site-navigation {
    text-align: center;
}

/*==================
Main Content
==================*/
/* All FP sections */
.fp_about, .fp_projects, .fp_contact {
    margin: auto;
    /* padding: 0 20%; */
    width: 60%;
}

/* Photograph of me */
.fp_about img {
    float: left;
    margin-right: 20px;
    width: 350px;
}

/*
Projects Bar
*/
/* Section targetted */
.fp_projects div {
    display: flex;
}

/* All hyperlinks */
.fp_projects div a {
    height: 270px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    color: black;
    text-align: center;
}

/* HTML CSS JS Logo */
.fp_projects .htmlcssjs {
    background-image: url(https://projectivesolutions.com/wp-content/uploads/2019/07/htmlcssjs_logo.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

/* Wordpress logo */
.fp_projects .wordpress {
    background-image: url(https://projectivesolutions.com/wp-content/uploads/2019/07/wordpress_logo.png);
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;
}

/* Joomla logo */
.fp_projects .joomla {
    background-image: url(https://projectivesolutions.com/wp-content/uploads/2019/07/joomla_logo.png);
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}

/* Moodle logo */
.fp_projects .moodle {
    background-image: url(https://projectivesolutions.com/wp-content/uploads/2019/07/moodle_logo.png);
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}

/* On Hover */
.fp_projects .htmlcssjs:hover, .fp_projects .wordpress:hover, .fp_projects .joomla:hover, .fp_projects .moodle:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

/*==================
Projects Bar
==================*/
/* All project hyperlinks */
.entry-content .project_list a {
    text-decoration: none;
    color: white;
    transition: .2s;
    display: block;
    padding: 40px 20px;
    background-image: url("https://projectivesolutions.com/wp-content/uploads/2019/07/moodle_ui.png");
    border: 1px solid rgba(0,0,0,0);
    background-size: cover;
    background-position: center;
}

/* All project hyperlinks hover */
.entry-content .project_list a:hover {
    border: 1px solid #D34E24;
}



/*==================
Footer
==================*/
/* All footer headers aligned left */
footer h2 {
    text-align: left;
    /* Removal of border */
    border: initial;
}

.site-footer {
    background: #114B5F;
    color: white;
}

.menu a {
    color: white;
    font-weight: normal;
}

/*==================
Misc Styles
==================*/
/* Remove the site info */
.site-info {
    display: none;
}

/* Removal of line above headers */
h1:not(.site-title):before, h2:before, .entry .entry-title:before {
    display: none;
}

/* Remove the sidebar space off of normal articles */
.entry .entry-content > *, .entry .entry-summary > * {
    max-width: 100%;
}

/* Input fields padding minimised */
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea {
    padding: 0;
}

/* Hiding of the site description "providing" */
p.site-description {
    display: none;
}